@import "../../scss/colors.scss";

.offerSection {
  background-color: $offerBgrnd;
  padding-top: 50px;
  font-family: "Montserrat", sans-serif;
  padding-bottom: 50px;
  // height: 900px;

  .title {
    margin: 0;
    color: $offerFont;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 35pt;
  }

  .offerContainer {
    margin-top: 80px;
    display: grid;
    justify-content: space-evenly;
    column-gap: 5%;
    padding-left: 5%;
    padding-right: 5%;
    grid-template-columns: repeat(3, 26%);
    grid-template-rows: max-content;
    text-align: center;
    font-weight: 500;
    font-size: 18pt;
    line-height: 45px;

    .offerImg {
      max-width: 300px;
    }

    .offerText {
      margin: 0;
      margin-top: 20px;
    }
  }
}
