@import "../../scss/colors.scss";

.gallerySection {
  background-color: $galleryBgrnd;
  padding-top: 50px;
  padding-bottom: 90px;
  font-family: "Montserrat", sans-serif;

  .title {
    margin: 0;
    color: $galleryFont;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 35pt;
  }

  .photoContainer {
    margin-top: 80px;
    display: grid;
    justify-content: center;
    column-gap: 5%;
    padding-left: 5%;
    padding-right: 5%;
    grid-template-columns: repeat(3, 30%);

    .photoItem {
      width: 100%;
      border-radius: 10px;
    }
  }
}
